body {
   
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 750px;
  display: flex;
  flex-direction: column;
  background-color: grey;
  background-size: cover;
  background-position: 1px, center;
  

  
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/Connect-4.jpeg");
  
}
h1{
  background-color: yellow;
  border-radius: 70%;
  width: 300px;
  text-align: center;
  font-family: Cambria, Cochin, Times, 'Times New Roman', serif;

}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
  background-color: rgba(25, 89, 168, 0.702);
  border-radius: 2%;

}

div {
  border: 3px solid rgb(11, 41, 90);
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border-width: 6px;
  

}
div:hover{
transform: scale(1,1.3);
z-index: 1;
}

#reset-btn{
  color: black;
  background-color: rgb(222, 222, 55);
  border-radius: 20%;
  height: 50px;
  width: 200px;
  font-size: large;
  font-family: Cambria, Cochin, Times, 'Times New Roman', serif;
}

#message{
  font-family: Cambria, Cochin, Times, 'Times New Roman', serif;
  background-color: yellow;
  border-radius: 70%;
  width: 300px;
  text-align: center;

}